header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

.logout-btn {
  background-color: #ff5733;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ff2e00;
}